.task {
  /* Sample  */
  margin: auto;
  display: flex;
  /* width: 90%; */
}
.task button{
  width: 20px;
  height: 20px;
  text-align: center;
  /* margin-left: 10px; */
}
.Task{
  /* width: 50%; */
  display: flex;
  margin-top: -15px;
  gap: 10px;
  margin-left: 10px;
  margin-right: 20px;
}
